<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- including assets -->
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    </head>

    <body>

        <!-- static portion of page -->
        <div class="heading"><h1><%= title %></h1></div>

        <form action="/create-TODO" method="POST">
            <div class="form-row">
                <div class="col">
                    <h4>Description</h4>
                    <input style="border: hidden; transition: hidden" type="text" class="form-control" name="description" placeholder="What do you need to do?">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <h4>Category</h4>
                    <select style="border: hidden; transition: hidden" class="form-control" name="category">
                    <option selected>Choose a category</option>
                    <option>Personal</option>
                    <option>Work</option>
                    <option>School</option>
                    <option>Cleaning</option>
                    </select>
                </div>                
                <div class="form-group col-md-6">
                    <h4>Date</h4>
                    <input style="border: hidden; transition: hidden" type="date" name="date" class="form-control">
                </div>
            </div>
            <div class="btns">
                <button type="submit" class="btn1" style="background-color: blue"><i class="fa fa-plus"></i> Add</button>
            </div>
        </form>

        <form action="/delete-todo" method="POST">
            <button  class="btn2" style="background-color: red"><i class="fa fa-trash"></i> Delete</button>
        

        <!-- dynamic part i.e dynamic list -->
        <div>
            <ul>
                <% for(let i of todo_list) { %>

                    <div><p>_____________________________________________________________________________________________________________________________</p></div>

                    <!-- content of dynamic list -->
                    <li>
                        <div class="row">
                            <div class="col-sm-1" style="background-color:white;">
                                <input type="checkbox" name="<%= i._id %>"aria-label="Checkbox for following text input">
                            </div>
                            <div class="col-sm-6" style="background-color:white;">
                                <div class="row" style="background-color:white;"><%= i.description %></div>
                                <div class="row" style="background-color:white;">
                                    <i class="fa fa-calendar" aria-hidden="true"></i><%= i.date %>
                                </div>
                            </div>
                            <div class="col-sm-1" style="background-color:white;"><%= i.category %></div>
                        </div>
                    </li>

                <% } %>
            </ul>
        </div>
        </form>

        <!-- bootstrap javascript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>